/*
From: https://github.com/danqing/autocomplete/
*/

.ac-wrap {
  position: absolute;
}

.ac-rwrap {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border: 1px solid #e6e6e9;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.ac-row {
  padding: 7px 10px 5px 10px;;
  border-bottom: 1px solid #e6e6e9;
}

.ac-row:hover {
  background-color: #f2f2f4;
  cursor: pointer;
}

.ac-row.selected {
  background-color: #f9f9f9;
}

.ac-row:last-child {
  border-bottom: none;
}

.ac-pr, .ac-sc {
  vertical-align: baseline;
  display: block;
}

.ac-pr {
  font-size: 14px;
  color: #3a3a48;
}

.ac-sc {
  font-size: 12px;
  padding-top: 5px;
  color: #9d9da3;
}
